@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center d-flex align-items-center justify-content-center" style="height: 60vh;">
    <div class="jumbotron">
        <h1>VENNTEST</h1>
        <p class="lead">Venntest is an online store. It is build using ASP.NET which is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Visit our store &raquo;</a></p>
    </div>
</div>

