
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="d-flex justify-content-around container d-flex align-items-center justify-content-center" style="height: 60vh;">
    <h1>image</h1>
    <div style="width: 40vw;">
        <h1>Name</h1>
        <p>Nullam quis risus eget vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <br />
        <div class="d-flex justify-content-around">
            <div class="d-flex align-items-start">
                <h5 class="text-warning">Price</h5>
                <h5 class="mx-4 text-warning"><strong>150</strong></h5>
            </div>
            <div class="d-flex align-items-start">
                <h5 class="text-primary">Quantity</h5>
                <h5 class="mx-4 text-primary"><strong>1500</strong></h5>
            </div>
            <div class="d-flex align-items-start">
                <h5 class="text-info">In stock</h5>
                <h5 class="mx-4 text-info"><strong>15</strong></h5>
            </div>
        </div>

    </div>

</div>
<div>



